extends layout

block content 
  section.content
    #banner
      img(src='images/about.jpg' style='width:100%; height: auto;')
      h2.title  About Us 
    p#description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      | labore et dolore magna aliqua. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
      | Non pulvinar neque laoreet suspendisse. Nunc pulvinar sapien et ligula ullamcorper malesuada proin.
      | Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit.
      | Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Morbi tristique senectus et netus
      | et malesuada fames. Cras tincidunt lobortis feugiat vivamus at augue eget. Nulla porttitor massa
      | id neque aliquam vestibulum morbi blandit cursus. Risus viverra adipiscing at in tellus integer
      | feugiat. Sagittis id consectetur purus ut faucibus.
    p#description
      | Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique.
      | Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Senectus et netus et malesuada fames.
      | Orci phasellus egestas tellus rutrum tellus pellentesque eu. Elementum eu facilisis sed odio morbi
      | quis commodo odio. Dui id ornare arcu odio ut sem nulla pharetra. Ante in nibh mauris cursus mattis
      | molestie a iaculis at. Quisque sagittis purus sit amet volutpat consequat. Tristique senectus et
      | netus et malesuada fames ac. Id semper risus in hendrerit gravida rutrum. Et netus et malesuada fames
      | ac turpis egestas maecenas.
  section.content
    h2#title2 Founders
    #firstcard.card
      img(src='images/anne.png' alt='Anne' style='width:100%')
      h2 Anne Tompson
      p
        | Mauris ligula lectus, rhoncus et laoreet vel, aliquam nec leo. Sed rutrum ligula et ornare bibendum.
        | Elementum eu facilisis sed odio morbi quis commodo odio. Dui id ornare arcu odio ut sem nulla pharetra.
        | Ante in nibh mauris cursus mattis molestie a iaculis at. Quisque sagittis purus sit amet volutpat consequat.
        | Tristique senectus et netus et malesuada fames ac. Id semper risus in hendrerit gravida rutrum.
        | Et netus et malesuada famesac turpis egestas maecenas.
    .card
      img(src='images/kevin.png' alt='Anne' style='width:100%')
      h2 Kevin Martinez
      p
        | Mauris ligula lectus, rhoncus et laoreet vel, aliquam nec leo. Sed rutrum ligula et ornare bibendum.
        | Elementum eu facilisis sed odio morbi quis commodo odio. Dui id ornare arcu odio ut sem nulla pharetra.
        | Ante in nibh mauris cursus mattis molestie a iaculis at. Quisque sagittis purus sit amet volutpat consequat.
        | Tristique senectus et netus et malesuada fames ac. Id semper risus in hendrerit gravida rutrum.
        | Et netus et malesuada famesac turpis egestas maecenas.
    .card
      img(src='images/sussan.png' alt='Anne' style='width:100%')
      h2 Susan Front
      p
        | Mauris ligula lectus, rhoncus et laoreet vel, aliquam nec leo. Sed rutrum ligula et ornare bibendum.
        | Elementum eu facilisis sed odio morbi quis commodo odio. Dui id ornare arcu odio ut sem nulla pharetra.
        | Ante in nibh mauris cursus mattis molestie a iaculis at. Quisque sagittis purus sit amet volutpat consequat.
        | Tristique senectus et netus et malesuada fames ac. Id semper risus in hendrerit gravida rutrum.
        | Et netus et malesuada famesac turpis egestas maecenas. Facilisis et malesuada famesac turpis egestas maecenas.