extends layout

block content
  section.content
    #banner
      img(src='images/walks.jpg' style='width:100%; height: auto;')
      h2.title  Walks
    p#description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, tempor
      | incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat.
      | Egestas integer eget aliquet nibh et odio.
    ul.list
      li
        | Single Walks
      p.lidescp
        | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit.
        | Morbi tempus iaculis urna id volutpat, egestas integer eget aliquet nibh et odio.
      li
        | Group Walks
      p.lidescp
        | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit.
        | Holla tempus iaculis urna id volutpattempor, incididunt ut labore et dolore magna aliqua.
        | Morbi tempus iaculis urna id volutpat. Egestas integer eget aliquet nibh et odio.
    button#btnap.custom-btn.btn-1
      a(href='booking') Book Here!
  section#cont2.content
    #banner
      img(src='images/training.jpg' style='width:100%; height: auto;')
      h2.title2  Training
    p#description
      | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit, sed do eiusmod tempor
      | incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis et odio urna id volutpat consectetur adipiscing elit.
      | Egestas integer et odio eget aliquet nibh, incididunt ut labore.
    ul.list
      li
        | Indoor Training
      p.lidescp
        | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit.
        | Facilisi morbi tempus iaculis et odio urna id volutpat consectetur adipiscing elit.
        | Egestas integer et odio eget aliquet nibh.
      li
        | Behavioral Training
      p.lidescp
        | Lorem ipsum dolor sit amet et odio. Facilisi morbi tempus iaculis
        | urna id volutpat,consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
        | labore et dolore magna aliqua. Facilisi morbi tempus iaculis et odio urna id volutpat
        | consectetur.
      li
        | Competition Training
      p.lidescp
        | Lorem ipsum dolor sit amet et odio. Facilisi morbi tempus iaculis
        | urna id volutpat,consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
        | labore et dolore magna aliqua. Facilisi morbi tempus iaculis et odio urna id volutpat
        | consectetur adipiscing elit. Egestas integer et odio eget aliquet nibh, incididunt ut labore.
