extends layout

block content
  section.content
    #banner
      img(src='images/grooming.jpg' style='width:100%; height: auto;')
      h2.title  Grooming
    p#description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      | incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna id volutpat.
      | Egestas integer eget aliquet nibh et odio.
    ul.list
      li
        | Bathing & Blowdrying
      p.lidescp
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Amet nisl suscipit adipiscing bibendum
        | est ultricies integer quis. Velit euismod in pellentesque massa.
      li
        | Nail Trimming
      p.lidescp
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        | incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas integer.
      li
        | Fur Styling
      p.lidescp
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Felis eget velit aliquet sagittis.
        | Nisi quis eleifend quam adipiscing vitae.
    button#btnap.custom-btn.btn-1
      a(href='booking') Book Here!
  section#cont2.content
    #banner
      img(src='images/house.jpg' style='width:100%; height: auto;')
      h2.title2  House sitting
    p#description
      | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit, sed do eiusmod tempor
      | incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis et odio urna id volutpat.
      | Egestas integer et odio eget aliquet nibh.
    ul.list
      li
        | Feeding Visitation
      p.lidescp
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        | incididunt ut labore et dolore magna aliqua. Tristique magna sit amet purus gravida quis.
      li
        | Full Day Visitation
      p.lidescp
        | Lorem ipsum dolor sit amet et odio, consectetur adipiscing elit.
        | Facilisi morbi tempus iaculis urna id volutpat.
      li
        | Multiple Day Visitation
      p.lidescp
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        | incididunt ut labore et dolore magna aliqua. Porttitor rhoncus dolor purus non enim.
        | Euismod quis viverra nibh cras pulvinar mattis.
      br
      br