extends layout2 

block content
  section
    .parallax  
    #textbox
      div(style='padding: 30px; text-align: justify;')
        p(style='color: rgb(252, 250, 250);')
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          | labore et dolore magna aliqua. Lectus proin nibh nisl condimentum. Velit dignissim sodales ut
          | eu sem integer vitae justo. Suscipit tellus mauris a diam maecenas sed. Libero volutpat sed cras ornare.
          | Quam quisque id diam vel quam elementum pulvinar etiam. Penatibus et magnis dis parturient montes
          | nascetur. Et odio pellentesque diam volutpat. Risus sed vulputate odio ut enim blandit
          | volutpat maecenas. Et netus et malesuada fames ac turpis egestas. Eget nunc lobortis mattis aliquam.
          | Risus quis varius quam quisque id.
  section
    .parallax2
      .frame
        button#btnsi.custom-btn.btn-1
          a(href='signin') Sign In
        button#btnsu.custom-btn.btn-1
          a(href='signup') Sign Up
    #textbox
      div(style='padding: 30px; text-align: justify;')
        p(style='color: rgb(252, 250, 250);')
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          | labore et dolore magna aliqua. Et odio pellentesque diam volutpat. Risus sed vulputate odio ut enim blandit
          | volutpat maecenas. Et netus et malesuada fames ac turpis egestas. Eget nunc lobortis mattis aliquam.
          | Risus quis varius quam quisque id.
      button#btnlm.custom-btn.btn-1
        a(href='about') Learn More
