doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(href='https://fonts.googleapis.com/css2?family=Lato&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/style2.css')
  .topliner
    img#lpaw(src='images/logo.png' alt='logo' style=' width:60px; height:60px; margin-top: 15px;')
    h1.htitle Pooch Care

    block content