doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Pooch Care
    // Bootstrap CSS CDN
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
    // Our Custom CSS
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/style2.css')
    // Font Awesome JS
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/417d3d55bd.js' crossorigin='anonymous')
  body
    // jQuery CDN - Slim version (=without AJAX)
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    // Popper.JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
    // Bootstrap JS
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
    // Our Custom Script
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(defer='' src='javascripts/script.js')
    .wrapper
      // Sidebar
      nav#sidebar
        .sidebar-header
          img#paw(src='images/logo.png' alt='logo' style=' width:80px; height:80px; margin-left: 25%;')
          h3#coname(style='font-size: 2em; margin-left: 20px;') Pooch Care
          input#check(type='checkbox')
          label.checkbtn(for='check')
            i.fas.fa-bars
        ul.list-unstyled.components#libar
          li
            a(href='profile') Profile
          li
            a(href='about') About Us
          li
            a(href='care') Care
          li
            a(href='activity') Activities
          li
            a(href='booking') Bookings
    block content
